In [31]:
import pandas as pd
import numpy as np

#use this website
#https://medium.com/@rrfd/cleaning-and-prepping-data-with-python-for-data-science-best-practices-and-helpful-packages-af1edfbe2a3

In [32]:
df = pd.read_csv('allstate-claims-severity/train.csv')

In [33]:
df.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188318 entries, 0 to 188317
Columns: 132 entries, id to loss
dtypes: float64(15), int64(1), object(116)
memory usage: 189.7+ MB

In [35]:
# Get column names
column_names = df.columns
print(column_names)

Index(['id', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8',
       'cat9',
       ...
       'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12',
       'cont13', 'cont14', 'loss'],
      dtype='object', length=132)

In [36]:
# Get column data types
df.dtypes

id          int64
cat1       object
cat2       object
cat3       object
cat4       object
           ...
cont11    float64
cont12    float64
cont13    float64
cont14    float64
loss      float64
Length: 132, dtype: object

In [37]:
# Also check if the column is unique
for i in column_names:
  print('{} is unique: {}'.format(i, df[i].is_unique))

id is unique: True
cat1 is unique: False
cat2 is unique: False
cat3 is unique: False
cat4 is unique: False
cat5 is unique: False
cat6 is unique: False
cat7 is unique: False
cat8 is unique: False
cat9 is unique: False
cat10 is unique: False
cat11 is unique: False
cat12 is unique: False
cat13 is unique: False
cat14 is unique: False
cat15 is unique: False
cat16 is unique: False
cat17 is unique: False
cat18 is unique: False
cat19 is unique: False
cat20 is unique: False
cat21 is unique: False
cat22 is unique: False
cat23 is unique: False
cat24 is unique: False
cat25 is unique: False
cat26 is unique: False
cat27 is unique: False
cat28 is unique: False
cat29 is unique: False
cat30 is unique: False
cat31 is unique: False
cat32 is unique: False
cat33 is unique: False
cat34 is unique: False
cat35 is unique: False
cat36 is unique: False
cat37 is unique: False
cat38 is unique: False
cat39 is unique: False
cat40 is unique: False
cat41 is unique: False
cat42 is unique: False
cat43 is unique: False
cat44 is unique: False
cat45 is unique: False
cat46 is unique: False
cat47 is unique: False
cat48 is unique: False
cat49 is unique: False
cat50 is unique: False
cat51 is unique: False
cat52 is unique: False
cat53 is unique: False
cat54 is unique: False
cat55 is unique: False
cat56 is unique: False
cat57 is unique: False
cat58 is unique: False
cat59 is unique: False
cat60 is unique: False
cat61 is unique: False
cat62 is unique: False
cat63 is unique: False
cat64 is unique: False
cat65 is unique: False
cat66 is unique: False
cat67 is unique: False
cat68 is unique: False
cat69 is unique: False
cat70 is unique: False
cat71 is unique: False
cat72 is unique: False
cat73 is unique: False
cat74 is unique: False
cat75 is unique: False
cat76 is unique: False
cat77 is unique: False
cat78 is unique: False
cat79 is unique: False
cat80 is unique: False
cat81 is unique: False
cat82 is unique: False
cat83 is unique: False
cat84 is unique: False
cat85 is unique: False
cat86 is unique: False
cat87 is unique: False
cat88 is unique: False
cat89 is unique: False
cat90 is unique: False
cat91 is unique: False
cat92 is unique: False
cat93 is unique: False
cat94 is unique: False
cat95 is unique: False
cat96 is unique: False
cat97 is unique: False
cat98 is unique: False
cat99 is unique: False
cat100 is unique: False
cat101 is unique: False
cat102 is unique: False
cat103 is unique: False
cat104 is unique: False
cat105 is unique: False
cat106 is unique: False
cat107 is unique: False
cat108 is unique: False
cat109 is unique: False
cat110 is unique: False
cat111 is unique: False
cat112 is unique: False
cat113 is unique: False
cat114 is unique: False
cat115 is unique: False
cat116 is unique: False
cont1 is unique: False
cont2 is unique: False
cont3 is unique: False
cont4 is unique: False
cont5 is unique: False
cont6 is unique: False
cont7 is unique: False
cont8 is unique: False
cont9 is unique: False
cont10 is unique: False
cont11 is unique: False
cont12 is unique: False
cont13 is unique: False
cont14 is unique: False
loss is unique: False

In [27]:
# Check the index values
df.index.values

# Check if a certain index exists
#'foo' in df.index.values

# If index does not exist
#df.set_index('column_name_to_use', inplace=True)

array([     0,      1,      2, ..., 188315, 188316, 188317])

In [28]:
filtered_df = df[df.notnull()]

In [30]:
df[pd.isnull(df).any(axis=1)]

Empty DataFrame
Columns: [id, cat1, cat2, cat3, cat4, cat5, cat6, cat7, cat8, cat9, cat10, cat11, cat12, cat13, cat14, cat15, cat16, cat17, cat18, cat19, cat20, cat21, cat22, cat23, cat24, cat25, cat26, cat27, cat28, cat29, cat30, cat31, cat32, cat33, cat34, cat35, cat36, cat37, cat38, cat39, cat40, cat41, cat42, cat43, cat44, cat45, cat46, cat47, cat48, cat49, cat50, cat51, cat52, cat53, cat54, cat55, cat56, cat57, cat58, cat59, cat60, cat61, cat62, cat63, cat64, cat65, cat66, cat67, cat68, cat69, cat70, cat71, cat72, cat73, cat74, cat75, cat76, cat77, cat78, cat79, cat80, cat81, cat82, cat83, cat84, cat85, cat86, cat87, cat88, cat89, cat90, cat91, cat92, cat93, cat94, cat95, cat96, cat97, cat98, cat99, ...]
Index: []

[0 rows x 132 columns]

In [29]:
filtered_df

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188313,587620,A,B,A,A,A,A,A,A,B,...,0.242437,0.289949,0.24564,0.30859,0.32935,0.223038,0.220003,0.333292,0.208216,1198.62
188314,587624,A,A,A,A,A,B,A,A,A,...,0.334270,0.382000,0.63475,0.40455,0.47779,0.307628,0.301921,0.318646,0.305872,1108.34
188315,587630,A,B,A,A,A,A,A,B,B,...,0.345883,0.370534,0.24564,0.45808,0.47779,0.445614,0.443374,0.339244,0.503888,5762.64
188316,587632,A,B,A,A,A,A,A,A,B,...,0.704364,0.562866,0.34987,0.44767,0.53881,0.863052,0.852865,0.654753,0.721707,1562.87
188317,587633,B,A,A,B,A,A,A,A,A,...,0.844563,0.533048,0.97123,0.93383,0.83814,0.932195,0.946432,0.810511,0.721460,4751.72

In [ ]:
# Create list comprehension of the columns you want to lose
#columns_to_drop = [column_names[i] for i in [1, 3, 5]]
# Drop unwanted columns
#df.drop(columns_to_drop, inplace=True, axis=1)